.chatContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f0f0f0;
}

.ce-my-message-body.false {
  background-color: #ff6f70 !important;
  color: white !important;
}
.ce-custom-message-input {
  border: 1px solid #ff6f70 !important;
}
.ce-their-message-body.false {
  background-color: #045c5a !important;
  color: white !important;
}

.ce-their-message-timestamp {
  color: white !important;
  letter-spacing: -1px;
}

.ce-ice-breaker-gif {
  display: none;
}
.ce-their-message-sender-username {
  color: #045c5a !important;
}
.ce-chat-card.false {
  background-color: #045c5a !important;
  border: 1px solid #045c5a !important;
}
.ce-custom-send-button {
  background-color: #ff6f70 !important;
  border: 1px solid #ff6f70 !important;
}
.ce-chat-feed {
  background-color: #f0f0f0 !important;
  padding: 30px;
}

.ce-chat-list {
  background-color: white !important;
  padding: 30px;
  border-radius: 8px 8px 0px 0px !important;
}

.ce-chat-button {
}

.ce-chat-form {
  background-color: #f0f0f0 !important;
  padding-bottom: 14px !important;
}
/* .ce-message-list {
  background: linear-gradient(
    0deg,
    rgba(62, 64, 75, 1) 0%,
    #999 75%,
    #999 100%
  ) !important;
} */

.ce-my-message-timestamp {
  color: #ff6f70 !important;
}
