.feedContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 600px; /* Fixed max-width */
    margin-left: auto; /* Centering the container */
    margin-right: auto; /* Centering the container */
    margin-top: 5%;
    border-radius: 8px;
    overflow-y: auto; /* Makes the container scrollable */
  }
  
  .postItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .postHeader {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .profilePic {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    margin-right: 10px;
  }
  
  .userName {
    font-size: 16px;
    font-weight: bold;
  }
  
  .postImage {
    width: 100%;
    max-width: 600px; 
    object-fit: contain; /* Cover the area of the container without distorting the image */
  }
  
  .postDescription {
    padding: 15px;
    text-align: left; /* Aligns text to the left */
  }
  
/* Dark theme adjustments */
@media (prefers-color-scheme: dark) {
  .feedContainer {
    background-color: #333; /* Darker background for dark theme */
    color: #e0e0e0; /* Lighter text for better readability */
  }

  .postItem {
    border: 1px solid #555; /* Darker border for dark theme */
  }

  .userName, .postDescription {
    color: #e0e0e0; 
  }
  .profilePic {
    border: 2px solid #444; /* Slightly lighter border for visibility */
  }
}
  