@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.feedContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  /* Fixed max-width */
  max-width: 1000px;
  /* Centering the container */
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  /*border-radius: 8px;
  /* Makes the container scrollable */
  overflow-y: auto;
}

.postItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #e9f4f3;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* Makes the image circular */
  object-fit: cover;
  margin-right: 10px;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.postImage {
  width: 100%;
  max-width: 600px;
  /* Cover the area of the container without distorting the image */
  object-fit: contain;
  margin-left: auto;  /* Centers the image horizontally */
  margin-right: auto;  /* Centers the image horizontally */
}

.postDescription {
  padding: 15px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.postingSection {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #e9f4f3;
  margin-top: 20px;
}

.postInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.previewContainer {
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.previewImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.addButton,
.postButton {
  padding: 10px 20px;
  border: none;
  background-color: #FF800D;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.addButton:hover,
.postButton:hover {
  background-color: #FF800D;
}

.dropzone {
  display: flex;
  align-items: center;
}

.dropzoneText {
  margin-right: 10px;
}

/* Likes */
.likeButton {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  color: #ffffff;
}

/* Comments */
.commentsContainer {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
  font-family: 'Open Sans', sans-serif;
}

.comment {
  display: flex;
  align-items: flex-start;
  /* Align items to the top */
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.commentProfilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.commentContent {
  flex-grow: 1;
  font-family: 'Open Sans', sans-serif;
}

.commentUser {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.commentForm {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  font-family: 'Open Sans', sans-serif;
}

.commentInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.commentButton {
  padding: 8px 16px;
  border: none;
  background-color: #FF800D;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.commentButton:hover {
  background-color: #FF800D;
}

.commentText {
  margin-left: 10px;
}



/* Enforcing light theme styles under dark theme preference */
@media (prefers-color-scheme: dark) {

  .postItem,
  .postHeader,
  .profilePic,
  .userName,
  .postImage,
  .postDescription,
  .postingSection,
  .postInput {
    background-color: #e9f4f3;
    color: #000;
  }

  .feedContainer {
    background-color: #ffffff;
    border: 10px solid #ffffff;
  }

  .profilePic {
    border: 1px solid #ccc;
  }

  .postInput {
    background-color: #fff;
    /* White background for input field */
    color: #000;
    /* Dark text for input */
    border: 1px solid #ccc;
  }

  .addButton {
    background-color: #ff9735;
  }
  .postButton {
    background-color: #FF800D;
    color: white;
  }

  .addButton:hover,
  .postButton:hover {
    background-color: #FF800D;
  }

  /* Likes */
  .likeButton {
    background-color: transparent;
  }

  .icon {
    color: #ffffff;;
  }
  .icon2 {
    color: #FF800D;;
  }

  /* Comments */
  .commentsContainer {
    border-top: 1px solid #ddd;
  }

  .commentForm {
    border-top: 1px solid #ddd;
  }

  .commentInput {
    border: 1px solid #ccc;
    background-color: white;
  }

  .commentButton {
    background-color: #FF800D;
    color: white;
  }

  .commentButton:hover {
    background-color: #FF800D;
  }
}