.main {
  display: flex;
  flex-direction: row;
  /* Aligns sidebar and content horizontally */
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex: 1;
  max-width: 240px;
  min-width: 200px;
}

.mainContent {
  flex: 3;
  /* Adjust based on your design */
  display: flex;
  flex-direction: column;
}

.topBar {
  position: fixed;
  /* Fix the position relative to the viewport */
  top: 0;
  /* Align the top edge of the element with the top of the viewport */
  left: 0;
  /* Align the left edge of the element with the left of the viewport */
  width: 100%;
  /* Ensure it spans the full width of the viewport */
  z-index: 1000;
  /* Ensure it sits above other content */
  display: flex;
  align-items: center;
  background-color: #c0a0c8;
  padding: 10px 20px;
  /* Adjust padding as needed */
  gap: 20px;
  /* Space between items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBarContainer {
  margin-left: 10%;
  margin-right: 15%;
  justify-content: center;
  /* Center the search bar within its container */
}

.topBarButton {
  background-color: #f0f0f0;
  /* Light grey background */
  border: 1px solid #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  /* Rounded edges for buttons */
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-right: 1%;
  max-width: 125px;
}

.topBarButton:hover {
  background-color: #e1e1e1;
  /* Lighter color on hover */
}

.icon {
  color: #777;
  /* Icon color */
  margin-right: 5px;
}

.layoutContainer {
  margin-top: 3%;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .searchBarContainer,
  .topBarButton,
  .icon,
  .layoutContainer {
    /* Reapply light theme styles */
    background-color: #dfe3e4;
    /* Example: setting background to light for all elements */
    color: #000;
    /* Example: setting text color to dark for readability */
  }

  .main {
    display: flex;
    flex-direction: row;
    /* Aligns sidebar and content horizontally */
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .sidebar {
    flex: 1;
    max-width: 240px;
    min-width: 200px;
  }

  .mainContent {
    flex: 3;
    /* Adjust based on your design */
    display: flex;
    flex-direction: column;
  }

  .topBar {
    position: fixed;
    /* Fix the position relative to the viewport */
    top: 0;
    /* Align the top edge of the element with the top of the viewport */
    left: 0;
    /* Align the left edge of the element with the left of the viewport */
    width: 100%;
    /* Ensure it spans the full width of the viewport */
    z-index: 1000;
    /* Ensure it sits above other content */
    display: flex;
    align-items: center;
    background-color: #c0a0c8;
    padding: 10px 20px;
    /* Adjust padding as needed */
    gap: 20px;
    /* Space between items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .topBarButton {
    background-color: #dfe3e4;
    /* Light grey background */
    border: 1px solid #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    /* Rounded edges for buttons */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 1%;
  }

  .topBarButton:hover {
    background-color: #f0f0f0;
    /* Lighter color on hover */
  }

  .icon {
    color: #777;
    /* Icon color */
    margin-right: 5px;
  }

  .layoutContainer {
    margin-top: 3%;
    display: flex;
  }
}

.chatContainer {
  flex: 1;
  /* Ensure the chat container takes up remaining space */
  overflow-y: auto;
  /* Enable vertical scrolling if content exceeds container height */
  padding: 20px;
  /* Add padding for spacing */
}
