.main {
  display: flex;
  flex-direction: row;
  /* Aligns sidebar and content horizontally */
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex: 1;
  max-width: 240px;
  min-width: 200px;
}

.mainContent {
  flex: 3;
  /* Adjust based on your design */
  display: flex;
  flex-direction: column;

  width: 200px;
}

.topBar {
  /*background-image: linear-gradient(
    to right,
    #045C5A 0%, /* Start with Dark Teal at 0% */
  /*  #045C5A 20%, /* Continue Dark Teal until 50% */
  /*  #30D5C8 80%, /* Start Pastel Yellow right at 50% */
  /*  #30D5C8 100% /* Continue Pastel Yellow to 100% */
  /*);*/
  background-image: url("../app/design/TopBar.jpeg");
  background-size: cover; /* Cover the entire container */
  width: 100%;
  height: 100px;
  position: fixed;
  /* Fix the position relative to the viewport */
  top: 0;
  /* Align the top edge of the element with the top of the viewport */
  left: 0;
  /* Align the left edge of the element with the left of the viewport */
  /* Ensure it spans the full width of the viewport */
  z-index: 1000;
  /* Ensure it sits above other content */
  display: flex;
  align-items: center;
  /* Adjust padding as needed */
  gap: 20px;
  /* Space between items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logo {
  margin-left: 50px;
  margin-right: 10px;
  height: 100px;
  width: auto;
}

.searchBarContainer {
  margin-left: 5%;
  margin-right: 10px;
  justify-content: center;
  border-radius: 8px; /* Rounded edges */

  /* Center the search bar within its container */
}

.topBarButton {

  background-color: #ffffff;

  /* Light grey background */
  border: 1px solid #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  /* Rounded edges for buttons */
  cursor: pointer;
  font-size: 14px;

  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s;
  margin-right: 1%;
  max-width: 125px;
  align-items: center;

}

.topBarButton:hover {
  background-color: #e1e1e1;
  /* Lighter color on hover */
}

.icon {

  color: #045c5a;

  /* Icon color */
  margin-right: 5px;
}

.layoutContainer {
  /* background-image: url('../design/BGHome.jpg');
  background-size: 100%;  Cover the entire container */
  /*background-position: center; /* Center the background image */
  /*margin-top: 3%;*/
  display: flex;
  background-color: #d8ebea;

}

@media (prefers-color-scheme: dark) {
  .searchBarContainer,
  .topBarButton,
  .icon,
  .layoutContainer {
    /* Reapply light theme styles */

    background-color: #d8ebea;

    /* Example: setting background to light for all elements */
    color: #000;
    /* Example: setting text color to dark for readability */
  }

  .main {
    display: flex;
    flex-direction: row;
    /* Aligns sidebar and content horizontally */
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .sidebar {
    flex: 1;
    max-width: 240px;
    min-width: 200px;
  }

  .mainContent {
    flex: 3;
    /* Adjust based on your design */
    display: flex;
    flex-direction: column;
    background-color: #d8ebea;

  }

  .topBar {
    position: fixed;
    /* Fix the position relative to the viewport */
    top: 0;
    /* Align the top edge of the element with the top of the viewport */
    left: 0;
    /* Align the left edge of the element with the left of the viewport */
    width: 100%;
    /* Ensure it spans the full width of the viewport */
    z-index: 1000;
    /* Ensure it sits above other content */
    display: flex;
    align-items: center;
    background-color: #045c5a;
    padding: 10px 20px;
    /* Adjust padding as needed */
    gap: 20px;
    /* Space between items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .topBarButton {

    background-color: #ffffff;

    /* Light grey background */
    border: 1px solid #ccc;
    border: none;
    padding: 10px 20px;

    border-radius: 14px;
    /* Rounded edges for buttons */
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    transition: background-color 0.3s;
    margin-right: 1%;
    display: flex;
    width: 100px;
    height: 60px;
    flex-direction: column; /* Aligns children vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .topBarButton:hover {
    background-color: #038b89;

    /* Lighter color on hover */
  }

  .icon {

    height: 40px;
    width: 40px;
    color: #045c5a;
    font-size: 20px;
    /* Icon color */
    margin-right: 5px;
    background-color: transparent;
  }

  .icon:hover {
    background-color: transparent;
    /* Lighter color on hover */

  }

  .layoutContainer {
    margin-top: 3%;
    display: flex;
  }
}


