.profileContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20%;
  background-color: #ffffff;
  width: 120%; /* Start with a relative width */
  max-width: 300px; /* But don't exceed 300px */

  /*border-radius: 0px;*/
  border: 1px solid #045C5A;

  margin-left: 20%;
  margin-top: 35%;
}

.profileBGPic {
  width: 100%; /* Ensure it covers the container width */
  height: 60px; /* Adjust as needed */
  object-fit: cover;
  border-top-left-radius: 0px; /* Match container's border radius */
  border-top-right-radius: 0px;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #045C5A;
  opacity: 0.9;
}

.profilePic {
  width: auto; /* Adjust size as needed */
  height: 30%; /* Adjust size as needed */
  border-radius: 50%; /* Creates a circular image */
  object-fit: cover;
  border: 1px solid #ccc;
  margin-left: 30%;
  border: 1px solid #045C5A;
}

.profileDetails {
  width: 100%; /* Ensure it covers the container width */
  height: 100%; /* Adjust as needed */
  object-fit: cover;
  border-top-left-radius: 8px; /* Match container's border radius */
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  align-items: center;
}


.userName, .userBio, .userLocation {
  text-align: center;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  
}

.userName {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.userName a {
  color: inherit; /* Use the parent's text color */
  text-decoration: none; /* Remove underline */
  font-family: 'Open Sans', sans-serif;
}

.userBio {
  font-size: 14px;
  text-overflow: 'ellipsis';
  font-family: 'Open Sans', sans-serif;
}

.userLocation {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.userPronouns {
  text-align: center; 
  font-style: italic; /* Makes the text italic */
}

.userArtistStatement, .userCreativeNiche {
  text-align: center; 
  margin: 5px 0;
}

.userStats {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  width: 100%;
  gap: 8px; 
  margin-top: 120%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.statLink {
  display: flex;
  justify-content: space-between; /* Text on the left, data on the right */
  width: 100%;
  text-decoration: none; 
  color: inherit; 
  font-family: 'Open Sans', sans-serif;
}
.statLink:hover {
  text-decoration: underline; /* Underline on hover */
}
.statValue {
  font-weight: bold; /* Makes the data stand out */
}
.userButton{
cursor: pointer;
border: none;
transition: background-color 0.3s;
border-radius: 8px;
font-family: 'Open Sans', sans-serif;
}
.userButton:hover {
background-color: #e1e1e1; /* Lighter color on hover */
}

/* Ensuring light theme appearance regardless of dark mode preference */
@media (prefers-color-scheme: dark) {
  .profileContainer,
  .backgroundPic,
  .profilePic,
  .userName,
  .userBio,
  .userLocation,
  .userStats,
  .statLink,
  .statValue,
  .userButton {
    background-color: #ffffff;
    color: #000; 
  }

  .profileContainer {
    border: 2px solid #045C5A;
  }

  .userArtistStatement, .userCreativeNiche {
    text-align: center; 
    margin: 5px 0;
  }

  .userPronouns {
    text-align: center; 
    font-style: italic; /* Makes the text italic */
    margin: 5px 0; /* Example margin, adjust as necessary */
  }

  .userButton{
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    border-radius: 8px;
    }
    .userButton:hover,
    .statLink:hover {
    background-color: #e1e1e1;
    }
    .statLink {
      display: flex;
      justify-content: space-between; /* Text on the left, data on the right */
      width: 100%;
      text-decoration: none; 
      color: inherit; 
    }
}

/* Adjust the width on smaller screens */
@media (max-width: 768px) {
  .profileContainer {
    width: 80%; /* Increase width on smaller screens if needed */
  }
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
  .profileContainer {
    width: 95%; /* Let it occupy more space on very small screens */
  }
}