.profileContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px; 
    background-color: #f0f0f0;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;

    margin-left: 10%;
    margin-top: 20%;
  }
  
  .backgroundPic {
    width: 100%; /* Ensure it covers the container width */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
    border-top-left-radius: 8px; /* Match container's border radius */
    border-top-right-radius: 8px;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  
  .profilePic {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Creates a circular image */
    object-fit: cover;
    border: 1px solid #ccc;
    z-index: 2;
  }
  
  .userName, .userBio, .userLocation {
    text-align: center;
    z-index: 2;
  }
  
  .userName {
    font-size: 20px;
    font-weight: bold;
  }

  .userName a {
    color: inherit; /* Use the parent's text color */
    text-decoration: none; /* Remove underline */
  }
  
  .userBio {
    font-size: 14px;
  }
  
  .userLocation {
    font-size: 12px;
  }
  .userLocation {
    font-size: 12px;
  }

  .userStats {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    width: 100%;
    gap: 8px; 
    margin-top: 5%;
    font-size: 12px;
  }
  
.statLink {
    display: flex;
    justify-content: space-between; /* Text on the left, data on the right */
    width: 100%;
    text-decoration: none; 
    color: inherit; 
  }
.statLink:hover {
    text-decoration: underline; /* Underline on hover */
  }
.statValue {
    font-weight: bold; /* Makes the data stand out */
}