
.container {
  background-image: url('./design/BGPicture.png');
  background-size: cover;  /* Cover the entire container */
  background-position: center; /* Center the background image */
  display: flex;
  justify-content: center; /* Centers horizontally in the flex container */
  align-items: center; /* Centers vertically in the flex container */
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the container */
  background-color: #045C5A; /* Fallback background color */
}

.loginContainer {
  width: 20%; /* Example: use a percentage of the viewport or container width */
  height: 20%; 
  display: flex; /* Creates three columns with equal width */
  justify-items: center; /* Horizontally centers content within each grid cell */
  flex-direction: column;
  align-items: center;
  background-color: rgba(253, 253, 150, 0); /* Fully transparent background */
  margin-top: -250px; /* Pulls the container upwards by 50px */
}

.topBarButton {
  width: 150px;  /* Example fixed width */
  height: 75px;  /* Example fixed height */
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally center content within the flex container */
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #FF800D;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: Verdana;
  text-align: center;
  border-radius: 10px; /* Adjust this value to increase or decrease roundness of buttons */
  text-decoration: none;
  transition: background-color 0.3s;
}

.topBarButton:hover {
  background-color: #238786;
}

.icon {
  margin-bottom: 20px;
  width: 100%; /* Increased width */
  height: auto; /* Auto height to maintain aspect ratio */
}

.box {
  width: 27%;  /* Set the width of the box */
  height: 200px; /* Set the height of the box */
  margin: 20px; /* Add some margin for spacing around the box */
}
