.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex: 1;
  max-width: 240px;
  min-width: 200px;
}

.mainContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f5f5f5;
  max-width: 675px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5%;
  border-radius: 8px;
  overflow-y: auto;
  position: relative;
}

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #C0A0C8;
  padding: 10px 20px;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.searchBarContainer {
  margin-left: 10%;
  margin-right: 15%;
  justify-content: center;
}

.topBarButton {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-right: 1%;
}

.topBarButton:hover {
  background-color: #e1e1e1;
}

.icon {
  color: #777;
  margin-right: 5px;
}

.layoutContainer {
  margin-top: 3%;
  display: flex;
}

.content {
  position: relative;
  flex-grow: 1;
}

.buttonsContainer {
  display: flex;
  position: absolute; /* Position the buttons absolutely relative to their positioned parent */
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
  top: 3%;
  right: 0;
}

.button {
  writing-mode: vertical-rl; /* Make text go vertically */
  padding: 9px;
  background-color: #C0A0C8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #FFF;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #A885A8;
}

.buttonHighlighted {
  background-color: #A885A8; 
}


@media (prefers-color-scheme: dark) {

  .searchBarContainer,
  .topBarButton,
  .icon,
  .layoutContainer
  {
    background-color: #dfe3e4;
    color: #000;
  }
  
  .mainContent {
    background-color: #f5f5f5;
    background-color: transparent;
  }

  .topBar {
    background-color: #C0A0C8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .topBarButton {
    background-color: #dfe3e4;
  }

  .topBarButton:hover {
    background-color: #f0f0f0;
  }

  .icon {
    color: #777;
  }

  .button {
    background-color: #C0A0C8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: 1px solid #ccc;
  }

  .button:hover {
    background-color: #A885A8;
  }
  .buttonHighlighted {
    background-color: #A885A8; 
  }
}